@media only screen and (max-width: 480px) {

  /* ==================== GLOBAL ===================  */

  body { font-size: 22px; }

  /* ----------------- links and titles -------------- */

  h1 { font-size: 26px; }

  h2 { font-size: 28px; }

  h3 { font-size: 22px; }

  /* ===================== HEADER ====================  */

  #menu {
    height: 170px;
  }

  .logo-booki {
    width: 80px;
    margin: 30px 0 15px 0;
  }

  #menu ul {
    height: 60px;
  }

  #menu a {
    border-width: 0 0 4px 0;
  }

  /* ==================== SECTION SEARCH =================== */
  
  #search { padding: 0 25px; }

  #search header { margin: 40px 0 45px 0; }

  /* ---------------------- search bar ---------------------- */

  #search-bar {
    font-size: 23px;
    margin: 0 0 43px 0;
  }

  #search-bar .fas.fa-map-marker-alt {
    width: 65px;
    height: 65px;
    border-radius: 20px 0 0 20px;
  }

  #search-bar input {
    width: calc(100% - 115px);
    height: 65px;
    padding: 0 36px; 
  }

  .search-icon-btn {
    width: 65px;
    height: 65px;
    border-radius: 20px;
  }

  /* ---------------------- filters ---------------------- */

  #filters-area {
    font-size: 23px;
  }

  .filters-title {
    margin: 0 0 3px 0;
  }

  .filters-btn-area {
    margin-left: 0;
  }

  .filters-btn {
    height: 65px;
    margin: 15px 12px 0 5px;
  }

  .filters-btn .fas {
    font-size: 24px;
    width: 65px;
    height: 65px;
  }

  .filters-btn-text { 
    font-size: 21px;
    padding: 0 18px 0 13px; 
  }

  /* ---------------------- info text ---------------------- */

  #info-text-area {
    margin-left: 0;
    margin-top: 40px;
  }

  #info-text-area .fas {
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin-right: 12px;
  }

  #info-text-area .info-text {
    font-size: 20px;
  }

  /* ==================== SECTION PLACES =================== */

  #places { margin-top: 45px; }

  /* -------------------------- card --------------------------*/

  .card {
    border-radius: 30px;
  }
  
  .card-infos {
    font-size: 20px;
  }
  
  .card .fas { 
    font-size: 20px;
  }

  /* ----------------- card places marseille ------------------ */

  #places-marseille-cards {
    margin-top: 30px;
    row-gap: 30px;
  }
    
  #places-marseille-cards .card img {
    height: 145px;
    border-radius: 30px 30px 0 0;
  }

  /* ------------------- card places popular -------------------*/
  
  #places-popular-cards {
    margin-top: 40px;
    row-gap: 20px;
  }
  
  #places-popular-cards .card {
    height: 185px;
  }
  
  #places-popular-cards .card img {
    border-radius: 30px 0 0 30px;
  }

  /* ==================== SECTION ACTIVITIES =================== */


  #activities-cards {
    gap: 25px;
    margin: 35px 0 60px 0;
  }

  .double-cards {
    gap: 25px;
  }

  .single, .double-1, .double-2, .double-3, .double-4 { 
    height: 245px; 
  } 

  .activity-card img {
    height: calc(100% - 70px);
  }

  .activity-title {
    height: 60px;
  }

  /* ========================== FOOTER ========================= */

  footer {
    padding: 60px 0;
    gap: 40px;
  }
  
  footer h3 {
    margin-bottom: 20px;
  }
  
  footer li {
    margin-bottom: 10px;
  }

}